# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3. Julia

| Data Science Tools |
|--------|
|  MySQL |  
|  NodeRed  |
|  PredictionIO  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
f"{(200//60)} hours and {200%60} mins"

'3 hours and 20 mins'

**Objectives :**


*   List popular languages for data science
*   Create tables in markdown
* Display arithmetic expressions

## Author
Antoine Chosson